.account-wrap {
	margin: 0 auto;
	width: 90%;
	padding: 2em;
	font-size: 0.875em;
	@include bp(50) {
		width: 100%;
		padding: 0;
		font-size: 1em;
		margin: 2em 0;
		/*box-shadow: 0 0 10px 0 #ccc;
		border: 0.15em solid darken($gray,5%);*/
	}
	.entry-title,
	h2 {
		margin-bottom: 0.5em;
	}
	.myaccount_user,
	.myaccount_address {
		border-bottom: 0.15em solid $gray;
		padding-bottom: 1.5em;
	}
	label {
		padding-bottom: 0.25em;
		&.inline {
			margin-top: 0.5em;
			> input {
				margin: 0.35em 0.5em 0 0;
			}
		}
	}
	input [type="text"] {
		font-size: 0.9em;
	}
	input[type="submit"] {
		border: 0.15em solid $blue;
		font-size: 1.25em;
	}
	fieldset {
		border: 0.15em solid darken($gray,5%);
		padding: 2em;
		margin: 2em auto;
	}
	.form-row {
		width: 100%;
		float: none;
		display: block;
	}
	#customer_login {
		.col-1 {
			margin-bottom: 2em;
			padding-bottom: 2em;
			border-bottom: 0.15em solid darken($gray,5%);
			@include bp(50) {
				margin-bottom: 0;
				padding-bottom: 0;
				border: none;
				margin-right: 6%;
			}
		}
		.col-1,
		.col-2 {
			@include bp(50) {
				width: 47%;
			}
		}
	}
}
.account-form-wrap {
	@include bp(50) {
		max-width: 50em;
	}
}