.regular-tabs {
	margin-bottom: 2em;
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		&.shown {
			li {
				display: block;
			}
			.tab-toggle {
				color: $dark-gray;
			}
		}
		li {
			display: none;
			margin-bottom: 0;
			position: relative;
			a {
				display: block;
				padding: 0.75em 1.5em;
				border: 1px solid $blue-gray;
				background: $blue-gray;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				color: $text;
				text-transform: uppercase;
				font-size: 0.875em;
				@include bp(25) {
					font-size: 1em;
				}
				&:hover {
					text-decoration: none;
					background: darken($blue-gray, 10%);
					border-color: darken($blue-gray, 10%);
				}
			}
		}
		.ui-state-active {
			display: block;
			margin-bottom: 0;
			a {
				background: #fff;
				color: $blue;
				outline: 0;
				&:hover {
					background: #fff;
					border-color: $blue-gray;
				}
			}
		}
		@include bp(44) {
			li {
				display: block;
				float: left;
				margin-right: 1em;
			}
			.ui-state-active {
				a {
					border-bottom: 0;
				}
				/*&:after {
					content: '';
					height: 10px;
					background: #fff;
					position: absolute;
					top: 100%;
					width: 97.75%;
					left: 0;
					margin: 0 auto;
					right: 0;
					border-left: 1px solid transparent;
					border-right: 1px solid transparent;
				}*/
			}
		}
	}
	.ui-tabs-panel {
		border: 1px solid $blue-gray;
		border-top: 0;
		border-bottom: none;
		padding: 1em;
		box-shadow: 0 0 10px 0px #ccc;
		.product-list {
			li {
				padding: 1em 1.5em;
			}
			.group {
				p {
					float: left;
					width: 65%;
					display: block;
					font-weight: 700;
					text-align: left;
					text-transform: uppercase;
					margin: 0;
				}
				span {
					float: right;
					width: 35%;
					display: block;
				}
			}
		}
	}
}
.tab-toggle {
	position: absolute;
	right: 0.75em;
	top: 1em;
	text-align: center;
	z-index: 10;
	line-height: 1;
	* {
		line-height: 1;
	}
	.fa {
		color: $dark-gray;
		font-size: 1em;
		margin-right: 0.35em;
	}
	b {
		font-weight: normal;
		color: $dark-gray;
		font-size: 0.875em;
		text-transform: uppercase;
	}
	&:hover {
		.fa, b {
			color: darken($dark-gray, 20%);
		}
		text-decoration: none;
	}
	@include bp(44) {
		display: none;
	}
}