$text: #252122;
$black: #262626;
$blue: #156398;
$light-blue: #64bcf5;
$active-blue: #41a4e7;
$sidebar-blue: #c3d2dc;
$gray: #f3f3f3;
$blue-gray: #dee3e8;
$link-blue: #166397;
$green: #57AE2F;
$yellow: #eacf33;
$dark-gray: #474547;
$footer-blue: #2d82bb;